body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: monospace, sans-serif;
}

main{
    width: 80%;
    margin:auto;

    /*display: flex;
    flex-direction: column;
    align-items: center;*/
}

.input{
    padding: 1em;
    margin: 1em;

}

input{
    margin-top: 0.5em;
    font-size: 1em;
    border-radius: 0.5em;
    border: solid grey;
    padding: 0.5em;
    background-color: #ededed;
}

#jobTitle, #location{
    width: 100%;
}

#submit{
    padding: 0.6em 2em;
    margin: 1em;
    border: 0;
    background-color: #1b48ef;
    color: white;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}

#form{
    width: 100%;
}

form{
    display: flex;
  flex-wrap: wrap; /* Adatta gli elementi su più righe se necessario */
  justify-content: center; /* Centra gli elementi */
  align-items: center;
  gap: 15px; /* Spaziatura tra gli elementi */
  margin: 20px 0; /* Margine superiore e inferiore */
}

#tabellaRisultati{
    width: 100%;
    border-collapse: collapse; /* Rimuove gli spazi tra i bordi delle celle */
    margin: 1.2em 0;
    font-size: 1em;
    text-align: left;
  }
  
  /* Stile per l'intestazione */
  table thead tr {
    background-color: #0441f7; /* Colore di sfondo dell'intestazione */
    color: #ffffff; /* Colore del testo dell'intestazione */
    font-weight: bold;
  }
  
  /* Bordi delle celle */
  table th, table td {
    border: 1px solid #dddddd; /* Bordo sottile grigio */
    padding: 0.8em 1em; /* Spaziatura interna */
  }
  
  /* Alternanza di righe */
  table tbody tr:nth-child(even) {
    background-color: #f3f3f3; /* Colore di sfondo per le righe pari */
  }
  
  table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Colore di sfondo per le righe dispari */
  }
  
  /* Effetto hover */
  table tbody tr:hover {
    background-color: #f1f1f1; /* Colore di sfondo quando il cursore passa sopra */
    cursor: pointer;
  }
  
  /* Allineamento */
  table th {
    text-align: center; /* Centra il testo nell'intestazione */
  }
  
  table td {
    text-align: left; /* Allinea il testo a sinistra per i dati */
  }
   

